<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Aplicación de finanzas</a>
    <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav mr-auto" *ngIf="user$ | async as user">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="profit">Crear Ingreso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="spend">Crear Egreso</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user; else login">
      
      <li class="nav-item">
        <a class="nav-link" href="profile" >{{ userAux.name}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="login" (click)="logOut()">Cerrar sesión</a>
      </li>
    </ul>
  </div>


  <ng-template #login>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="login">Iniciar sesión</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="register">Crear cuenta</a>
      </li>
    </ul>
  </ng-template>
</nav>