<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <span class="material-icons">login</span>
        Iniciar sesión
      </a>
      <a mat-list-item href="/Transaccion">
        <span class="material-icons">attach_money</span>
        Transacciones
      </a>
      <a mat-list-item href="#">
      <span class="material-icons">settings</span>
        Opciones
      </a>
    </mat-nav-list>
  </mat-sidenav >

  <mat-sidenav-content >
    <mat-toolbar  color="primary"
                  class="navbar navbar"
                  style="background-color:#4EBD40;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <span class="material-icons">menu</span>
      </button>

      <span>Aplicación de finanzas</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
